.myBody{
    background-image: url("../Images/restaurante.png");
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
    padding: 0;
}

 

main{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}
h1{
    font-family: 'Georgia', serif;
    font-size: 4rem;  
}

ul {
    list-style: none;  
    padding-left: 15px;
    display: flex;
    gap: 2rem;  
}
li{
    font-size: 1.5rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #CCB878;
}





 

@media (max-width: 600px) {
    body, .myBody {
        padding: 1rem;  
    h1 {
        font-size: 2.5rem;        
        text-align: center;       
        padding-left: 0;          
    }

    ul {
        flex-direction: column;  
        align-items: center;     
        gap: 1rem;
        padding: 0;              
    }

    li {
        font-size: 1.2rem;
    }
}}
